header{
    border: 1px solid red;
    padding: 20px;
    background-color: #54838a;
}

header .logo{
    float: left;

}

header .nav{
    background-color: #ffffff;
    float: right;
    height: 60px;
    border: 1px solid green;
}

header .nav .nav-item a{
    height: 100%;

}

/* SLIDER */
.slider{
    margin-top: 20px;
    border: 1px solid brown;
    width: 100%;
    height: 350px;
}


/* MAIN-PAGE */
.main-page{
    margin-top: 20px;
    border: 1px solid brown;
    width: 100%;
    min-height: 100%;
}

.main-content{
    padding:0px;
}

.zone{
    margin-top: 10px;
}
/* icon */
.icon{
    font-size: 50px;
}
.m-icon{
    font-size: 25px;
}

.topic-content{
    display: flex;
    border-bottom: 1px solid rgb(141, 127, 127);
}

.topic-body{
    width: 50%;
}
.mtopic-tt{
    display: inline-block;

    width: auto;
}


/* FOOTER */
footer{
    margin-top: 20px;
    border: 1px solid red;
    padding: 20px;
    background-color: #54838a;
    /* de height auto sau */
    height: 70px;
}